# Ignorar archivos generados por Django
pycache/
*.py[cod]

# Ignorar archivos de entorno virtual (por ejemplo, con virtualenv o pipenv)
venv/
.env/

# Ignorar archivos de registro y caché
*.log
.cache/

# Ignorar archivos de dependencias de Node.js (si se usa junto con Django)
node_modules/


# Ignorar archivos de entorno virtual (por ejemplo, con virtualenv o pipenv)
venv/
Pipfile
Pipfile.lock

